* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #FFF;
}

body {
    background: #DAF0FF;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
    width: 375px;
    height: 568px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

p {
    font-size: 50px;
}

button {
    font-size: 23px;
    border-radius: 16px;
    border: none;
}

.black-button {
    background: #303136;
}

.blue-button {
    background: #005DB2;
}

.equal-button {
    background: #1991FF;
}

.gray-button {
    background: #616161;
}